<!--The content below is only a placeholder and can be replaced.-->

<section class="mg-bottom-sm">
  <orxe-dropdown
    placeholder="Select Language"
    [items]="cr.items"
    (onChange)="changeLanguage($event)"
  ></orxe-dropdown>
</section>

<section class="mg-bottom-sm">
  <orxe-rating-bar
    type="linear"
    label="Experience"
    rating="71"
  ></orxe-rating-bar>
  <orxe-rating-bar type="linear" label="Location" rating="50"></orxe-rating-bar>
</section>

<section>
  <h2>Angular i18Next pipe usage</h2>
  <fieldset>
    <legend>Translation:</legend>
    <h4>{{ "intro" | i18next }}!</h4>
  </fieldset>

  <fieldset>
    <legend>ErrorMessage:</legend>
    <h4>{{ "error_occurred" | i18next }}!</h4>
  </fieldset>

  <fieldset>
    <legend>ValidationMessage:</legend>
    <h4>{{ "required" | i18next }}!</h4>
  </fieldset>
</section>
